*{
	margin: auto;
	text-align: left;
	padding: 0.5em;
	font-family: 'Open Sans Condensed', sans-serif;

}


#title, #subtitle, .section-title, #final-search{
	text-align: center;
	padding: 0.2em;
}

#title-area, #final-search{
	background-color: #a2dba3;
}

#title{
	font-size: 200%;
}

#subtitle{
	font-size: 150%;
}


#search-parameters, #intro{
	font-size: 120%;
}

.search-section{
	width: 22em;
	height: 8em;
	margin: 1em;
	display: inline-block;
	vertical-align: top;
}


#location-search{
	display: inline-block;
	height: 1.5em;
	margin: 0.2em;
	vertical-align: top;
}

textarea{
	width: 10em;
	font-size: 0.8em;

}



#final-search{
	font-size: 200%;
	margin: 0.5em;
}

#googleMap{
	border-radius: 0.4em;
	width: 90%;
	height: 20em;
	margin: auto;
}
